body{
    background-color: black;
}
.rasm{
    margin-top: -20%;
    margin-left: 800px;
}
.sari{
    font-size: 7em;
    margin-left: 300px;

}
.hiki{
    color: darkturquoise;
}
    
.sari{
    color-adjust: 50px;
    color: teal;
}